[Unit]
Description=IMPSY RPi Module WebUI Startup Script
After=multi-user.target

[Service]
ExecStart=/bin/bash {{ ansible_env.HOME }}/{{ impsy_loc }}/examples/rpi/impsy-web.sh
WorkingDirectory={{ ansible_env.HOME }}/{{ impsy_loc }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ ansible_user_id }}

[Install]
WantedBy=multi-user.target
